<h1 class="text-center"> Aadesh Ads Web App</h1><hr>

<div class="container">
  <div class="row">
    <div class="col col-lg-6">
      <p>
      <p>This is Advertisement Web App</p><br/>
            Features included in this web app :<br/>
            ------------------------------------<br/>
            ->Rest API based Architecture<br/>
            ->Sign-Up <br/>
            ->Sign-In <br/>
            ->Sign-Out <br/>
            ->Create Advertisement <br/>
            ->Publish Advertisement <br/>
            ->View Advertisement<br/>
            ->Edit Advertisement<br/>
            ->Delete Advertisement<br/>
            ->All published Advertisements are shown on the homepage<br/>
            ->Any User can able to comment on published Advertisement<br/>

</p><br/>
    </div>
    <div class="col col-lg-6">
      
<div class="card" style="width: 18rem;">
     <%= image_tag("pics/resume_pic.png",width:'100%',height:'100%',class:"ready") %>
  

  
  <div class="card-body">
    <h5 class="card-title">Creator</h5>
    <p class="card-text">This Web App is developed by Aadesh.</p>
    <a href="https://github.com/aadeshpandiri/AdvertisementWebApp" target="_blank" class="btn btn-dark">Github Repo</a>
  </div>
</div>
    </div>
  </div>



